exportPattern("^[[:alpha:]]+")
import(sp,methods)
importFrom("graphics", "legend", "points")
importFrom("stats", "coef", "lm")

exportMethods(
    "applyTransformation",
    "calculateParameters",
    "getParameters",
    "getResiduals",
    "getRMSE",
    "plotGridTransformation",
    "show" 
)
exportClasses(
    "SimilarityTransformation",
    "AffineTransformation"
)
